### Node ###
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Logs ###
logs
*.log
logs/*

### Runtime ###
pids
*.pid
*.seed
*.pid.lock

### Coverage ###
coverage/
*.lcov
.nyc_output/

### Build / Output ###
dist/
build/
out/
*.tgz

### Environment ###
.env
.env.local
.env.*.local

### Dependency caches ###
.cache
.parcel-cache

### TypeScript ###
*.tsbuildinfo

### Editors and IDEs ###
.vscode/
.idea/
*.sublime-workspace

### macOS ###
.DS_Store

### Misc ###
Thumbs.db
*.swp
.yarn-integrity
.yarn/*
